// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.counters{
    margin-right: 30px;
    font-size: large;
    text-align: center;

    strong{
        display: block;
        font-size: x-large;
    }

    .vote .answer{
        width: 60px;
        height: 60px;
        border: thin solid red;
    }

    .status{
        &.unaswered{
            border: dotted gray;
        }

        &.answered{
            border: thin solid green;
            color: green;
        }

        &.answered-accepted{
            background-color: green;
            color: white;
        }
    }
    .view {
        margin-top: 10px;
    }
}

form.form-delete{
    display: inline;
}
.vote-controls{

    min-width: 60px;
    margin-right: 30px;
    text-align: center;
    color: gray;
    span , a {
        display: black;
        &.votes-count{
            font-size: large;
            border: dotted  green;
        }
        &.favorites-count{
            font-size: small;
            align-items: center;
        }
        &.checks-count{
            font-size: small;
        }
        cursor: pointer;
        color: gray;
        &.off,&.off:hover{
            color: rgb(199, 199, 199);
        }
        &.favorite{
            &.favorited,&.favorited:hover{
            color: rgb(245, 180, 20);
            }
        }
        &.vote-accept,&.vote-accept:hover{
        color: rgb(181, 245, 20);
        }
    }
}
.post{
    padding: 20px 0;
    &:not(:last-child){
        border-bottom: thin solid rgba($color: #000000, $alpha: .1);
    }
}
[v-cloak]{
    display: none;
}
