<template>
    <div>
            <a v-if="canAccept" @click.prevent="acceptcreate" title="Mark as best" :class="classes">
                <i class="fas fa-check fa-2x"></i>
            </a>
            <a v-if="accepted" title="This answer is marked as best" :class="classes">
                <i class="fas fa-check fa-2x"></i>
            </a>
    </div>
</template>
<script>
import eventbus from '../eventbus'
export default {
        props:['model'],

        computed: {
            canAccept: function() {
                return this.authorize('accept',this.model);
            },
            accepted: function() {
                return ! this.canAccept && this.isBest;
            },
            classes: function() {
                return [
                    'favorite','mt-2',
                    this.isBest ? 'vote-accept' : '',
                ];
            },
            endPoint: function () {
                return '/answers/'+this.id+'/accept';
            },
            signedIn: function () {
                return window.Auth.signedIn;
            }
        },
        created () {
            eventbus.$on('accepted', id => {
                this.isBest = (id == this.id);
            })
        },
        methods: {
            acceptcreate: function() {
                axios.post(this.endPoint)
                        .then((result) => {
                                    console.log(result);
                                    this.isBest = true;
                                    eventbus.$emit('accepted',this.id);
                                    this.$toast.info('Answer marked as best' ,'Info!', {
                                            timeout: 2000,
                                            position: 'center',
                                    } );
                            })
                        .catch((err) => {
                        console.log(err);
                        console.log(err.response);
                        console.log(err.response.data);
                        console.log(err.response.data.message);
                        this.toast.error(err.response.data.message,'Internal Error !');
                    });
            }
        },
        data: function() {
            return {
                isBest: this.model.is_best,
                id: this.model.id,
            }
        }

}
</script>
