<template>
        <div class="media post">
            <vote :model='model' name='answer'></vote>
        <div class="media-body">
            <form v-if="editing" @submit.prevent="answerupdate" >
                <div class="form-group">
                            <CKEditor required :editor="editor"  placeholder="Explaine" rows="10" v-model="body" class="form-control" :config="editorConfig"></CKEditor>
                </div>
                <button type="submit" :disabled="isInvalid"  class="btn btn-outline-primary">Edit</button>
                <button type="button" @click="answercancel"  class="btn btn-outline-secondary">Cancel</button>
            </form>
            <div v-if="!editing">
                    <div v-html="bodyHtml"></div>
                    <div class="row">
                        <div class="col-4">
                            <div class="ml-auto"><!-- href="{{ route('questions.answers.edit',[$question->id,$answer->id]) }}" -->
                                <a v-if="authorize('modify',model)" @click="answeredit"  data-loading-text=”Deleting…”  class="btn btn-sm btn-outline-info" >Edit</a>
                                <button v-if="authorize('modify',model)" @click="answerdelete" data-loading-text=”Deleting…”  class="btn btn-sm btn-outline-danger" >Delete</button>
                            </div>
                        </div>
                        <div class="col-4"></div>
                        <div class="col-4">
                            <user-info :model='model' label='Answered  '></user-info>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</template>
<script>
import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
import CKEditor from '@ckeditor/ckeditor5-vue';
ClassicEditor
            .create( document.querySelector( '#editor' ) )
            .catch( error => {
                console.error( error );
            } );
import vote from './Vote';
export default {
        props:['model'],
        data: function() {
            return {
                editorConfig: {
                    toolbar: [ 'heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList', 'blockQuote' ],
                    heading: {
                    options: [
                        { model: 'paragraph', title: 'Paragraph', class: 'ck-heading_paragraph' },
                        { model: 'heading1', view: 'h1', title: 'Heading 1', class: 'ck-heading_heading1' },
                        { model: 'heading2', view: 'h2', title: 'Heading 2', class: 'ck-heading_heading2' },
                        { model: 'heading3', view: 'h3', title: 'Heading 3', class: 'ck-heading_heading3' },
                        { model: 'heading4', view: 'h4', title: 'Heading 4', class: 'ck-heading_heading4' },
                        { model: 'heading5', view: 'h5', title: 'Heading 5', class: 'ck-heading_heading5' }                    ]    }
                    },
                editor: ClassicEditor,

                editing: false,
                body: this.model.body,
                bodyHtml: this.model.body_html,
                id: this.model.id,
                questionId: this.model.question_id,
                beforeEditCache: null
            }
        },
        mounted() {
            console.log('Component mounted.',this.id,' in answer.vue for question', this.questionId);
        },
        methods:  {
            answerdelete: function () {
                this.$toast.question('Are you sure about that?','Confirm deleting',{
                    timeout: 20000,
                    close: true,
                    overlay: true,
                    displayMode: 'once',
                    id: 'question',
                    zindex: 999,
                    position: 'center',
                    buttons: [
                    ['<button><b>YES</b></button>', (instance, toast) => {
                        axios.delete(this.endPoint)
                            .then((result) => {
                                    console.log(result);
                                    this.$emit('deleted');
                                    $(this.$el).fadeOut(500,() => {
                                    this.$toast.success(result.data.message ,'Success ! ', {
                                        timeout: 20000,
                                        position: 'center',
                                    } );                            });
                                    this.editing = false;
                                })
                            .catch((err) => {
                            console.log(err);
                            console.log(err.response);
                            console.log(err.response.data);
                            console.log(err.response.data.message);
                            alert(err.response.data.message);
                        });
                        instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                    }, true],
                    ['<button>NO</button>', function (instance, toast) {
                instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');

                        }],
                    ],
                });
            },
            answeredit: function () {
                this.toast.question('You want to edit this question ?','Confirm!',{
                    timeout: 20000,
                    close: false,
                    overlay: true,
                    displayMode: 'once',
                    id: 'question',
                    zindex: 999,
                    position: 'center',
                    buttons: [
                        ['<button class="btn btn-outline-danger"><b>YES</b></button>', (instance, toast) => {

                                this.beforeEditCache = this.body;
                                this.editing = true;
                            instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                        }, true],
                        ['<button class="btn btn-outline-danger">NO</button>', (instance, toast) => {
                            this.editing = false;
                            instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                        }],
                    ],
                    onClosing: function(instance, toast, closedBy){
                        console.info('Closing | closedBy: ' + closedBy);
                    },
                    onClosed: function(instance, toast, closedBy){
                        console.info('Closed | closedBy: ' + closedBy);
                    }
                });
            },
            answercancel: function () {
                this.body = this.beforeEditCache;
                this.editing = false;
                this.$toast.info('Nothing changed' ,'Info ! ', {
                                        timeout: 20000,
                                            position: 'center',
                                } );
            },
            answerupdate: function() {
                this.toast.question('You are trying to modify your answer','Confirm your change?',{
                    timeout: 20000,
                    progressBar: true,
                    close: true,
                    overlay: true,
                    displayMode: 'once',
                    id: 'question',
                    zindex: 999,
                    position: 'center',
                    buttons: [
                        ['<button><b>Save the change</b></button>', (instance, toast)=> {
                            axios.patch(this.endPoint,{
                                body: this.body
                            })
                            .then((result) => {
                                console.log(result);
                                this.editing = false;
                                this.bodyHtml = result.data.body_html;
                                this.$toast.success(result.data.message ,'Success ! ', {
                                        timeout: 20000,
                                            position: 'center',
                                } );
                            }).catch((err) => {
                                console.log(err);
                                console.log(err.response);
                                console.log(err.response.data);
                                console.log(err.response.data.message);
                                this.$toast.error(err.response.data.message,'error ! ', {
                                        timeout: 20000,
                                            position: 'center',
                                });
                                this.editing = false;
                            });
                            instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                        }, true],
                        ['<button>Cancel without saving</button>', (instance, toast) => {
                            this.editing = false;
                            this.$toast.info('Nothing changed' ,'Info ! ', {
                                        timeout: 20000,
                                            position: 'center',
                                } );
                            instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');

                        }],
                    ],
                    onClosing: function(instance, toast, closedBy){
                        console.info('Closing | closedBy: ' + closedBy);
                    },
                    onClosed: function(instance, toast, closedBy){
                        console.info('Closed | closedBy: ' + closedBy);
                    }
                });
            }
        },
        computed: {
            isInvalid: function() {
                return this.body.lenght < 10;
            },
            endPoint: function () {
                return '/questions/'+this.questionId+'/answers/'+this.id+'}';
            }
        },
        components: {
            vote , CKEditor: CKEditor.component
        },
    }
</script>
