<template>
    <div>
        <div class="col-md-12" v-cloak v-if="count > 0">
            <div class="card mt-4">
                <div class="card-body">
                    <div class="card-titlr">
                        <div class="d-flex">
                            <h3 class="info">{{ title }}</h3>
                        </div>
                    </div>
                    <hr />
                    <answer
                        @deleted="remove(index)"
                        v-for="(answer, index) in answers"
                        :model="answer"
                        :key="answer.id"
                    ></answer>
                    <div v-if="nextUrl" class="content-center text-center mt-2">
                        <button
                            @click.prevent="fetch(nextUrl)"
                            class="btn btn-outline-primary"
                        >
                            Load more answers
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <newanswer @created='add' :question-id='model.id' ></newanswer>
    </div>
</template>
<script>
import answer from "./Answer";
import newanswer from "./NewAnswer";
export default {
    props: ["model"],
    computed: {
        title() {
            return this.count + " " + (this.count > 1 ? "Answers" : "Answer");
        },
        endPoint: function() {
            return "/questions/" + this.model.id + "/answers";
        }
    },
    data: function() {
        return {
            questionId: this.model.id,
            count: this.model.answers_count,
            answers: [],
            nextUrl: null
        };
    },
    created() {
        this.fetch("/questions/" + this.model.id + "/answers");
    },
    methods: {
        add (answer) {
            this.answers.push(answer);
            this.count++
        },
        remove(index) {
            this.answers.splice(index, 1);
            this.count--;
        },
        fetch(endPoint) {
            axios
                .get(endPoint)
                .then(({ data }) => {
                    console.log(data);
                    console.log(...data.data);
                    this.answers.push(...data.data);
                    this.nextUrl = data.next_page_url;
                })
                .catch(err => {
                    console.log(err);
                });
        }
    },

    components: {
        answer, newanswer
    }
};
</script>
