<template>
    <div><hr><div class="rounded-circle">
        <a @click.prevent="favclick" title="Mark as favorite"  :class="classes">
        <i class="fas fa-star fa-2x "></i>
        </a></div>

        <span class="alert-info favorites-count">{{ favoritesCount }} </span>

    </div>
</template>
<script >
export default {
        props:['model'],

        computed: {
            classes: function() {
                return [
                    'favorite','mt-2',
                    ! this.signedIn ? 'off' : (this.isFavorited ? 'favorited' : ''),
                ];
            },
            endPoint: function () {
                return '/questions/'+this.id+'/favorites';
            }
        },
        methods: {
            favclick: function() {
                if(! this.signedIn )
                {
                    this.$toast.warning('Login to mark this question as favorite' ,'Info!', {
                            timeout: 2000,
                            position: 'center',
                    });
                    return;
                }
                ! this.isFavorited ? this.favcreate() : this.favdelete();
            },
            favcreate: function() {

                axios.post(this.endPoint)
                        .then((result) => {
                                console.log(result);
                                this.favoritesCount++;
                                    this.isFavorited = true;
                                    this.$toast.info('Question marked as favorite' ,'Info!', {
                                            timeout: 2000,
                                            position: 'center',
                                    } );
                            })
                        .catch((err) => {
                        console.log(err);
                        console.log(err.response);
                        console.log(err.response.data);
                        console.log(err.response.data.message);
                        this.toast.error(err.response.data.message,'Internal Error !');
                    });


            },
            favdelete: function() {
                axios.delete(this.endPoint)
                        .then((result) => {
                                console.log(result);
                                    this.favoritesCount--;
                                    this.isFavorited = false;
                                    this.$toast.info('Question unmarked as favorite' ,'Info!', {
                                        timeout: 2000,
                                        position: 'center',
                                });
                            })
                        .catch((err) => {
                        console.log(err);
                        console.log(err.response);
                        console.log(err.response.data);
                        console.log(err.response.data.message);
                        this.toast.error(err.response.data.message,'Internal Error !');
                    });
            }
        },
        data: function() {
            return {
                isFavorited: this.model.is_favorited,
                favoritesCount: this.model.favorites_count,
                id: this.model.id,
            }
        }

}
</script>
