<template>
    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a
                        class="nav-link active"
                        id="home-tab"
                        data-toggle="tab"
                        href="#home"
                        role="tab"
                        aria-controls="home"
                        aria-selected="true"
                        ><i class="fas fa-wizards-of-the-coast    "></i
                    >Writting</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a
                        class="nav-link"
                        id="profile-tab"
                        data-toggle="tab"
                        href="#profile"
                        role="tab"
                        aria-controls="profile"
                        aria-selected="false"
                        >preview</a
                    >
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="tab-content" id="myTabContent">
                <div
                    class="tab-pane fade show active"
                    id="home"
                    role="tabpanel"
                    aria-labelledby="home-tab"
                >
                    <slot></slot>
                </div>
                <div
                    v-html="preview"
                    class="tab-pane fade"
                    id="profile"
                    role="tabpanel"
                    aria-labelledby="profile-tab"
                >
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import MarkdownIt from 'markdown-it' ;
const MKD = new MarkdownIt();
export default {
    props: ["body"],
    computed: {
        preview () {
            return MKD.render(this.body);
        }
    }
};

</script>
