<template>
    <div class="col-md-12">
        <div class="card mt-4">
            <div class="card-body">
                <div class="card-titlr">
                    <div class="d-flex">
                    <h3>Your answer</h3>
                    </div>
                </div><hr>
                <form @submit.prevent="createanswer">
                    <div class="form-group">
                            <CKEditor required :editor="editor"  placeholder="Explaine" rows="10" v-model="body" class="form-control" :config="editorConfig"></CKEditor>
                    </div>
                    <div class="form-group">
                        <input type="submit" :disabled="isInvalid" name="" id="" class="btn btn-lg btn-outline-primary" title="Submite" placeholder="" aria-describedby="helpId">
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>
<script>
import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
import CKEditor from '@ckeditor/ckeditor5-vue';
ClassicEditor
            .create( document.querySelector( '#editor' ) )
            .catch( error => {
                console.error( error );
            } );
    export default {
        props: ['questionId'],
        data () {
            return {
                editorConfig: {
                    toolbar: [ 'heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList', 'blockQuote' ],
                    heading: {
                    options: [
                        { model: 'paragraph', title: 'Paragraph', class: 'ck-heading_paragraph' },
                        { model: 'heading1', view: 'h1', title: 'Heading 1', class: 'ck-heading_heading1' },
                        { model: 'heading2', view: 'h2', title: 'Heading 2', class: 'ck-heading_heading2' },
                        { model: 'heading3', view: 'h3', title: 'Heading 3', class: 'ck-heading_heading3' },
                        { model: 'heading4', view: 'h4', title: 'Heading 4', class: 'ck-heading_heading4' },
                        { model: 'heading5', view: 'h5', title: 'Heading 5', class: 'ck-heading_heading5' }                    ]    }
                    },
                editor: ClassicEditor,
                body: ''
            }
        },
        methods: {
            createanswer () {
                axios.post("/questions/" + this.questionId + "/answers",{
                    body: this.body
                })
                .catch(error => {
                    this.$toast.error(error.response.data.message,'Error!', {
                                            timeout: 2000,
                                            position: 'center',
                                    } );
                })
                .then(({data}) => {
                    this.$toast.success(data.message,'Success!', {
                                            timeout: 2000,
                                            position: 'center',
                                    } );
                    this.body= '';
                    this.$emit('created',data.answer);
                })
            }
        },
        components: {
            CKEditor: CKEditor.component
        },
        computed: {
            isInvalid () {
                return !this.signedIn || this.body.length < 10;
            },
            endPoint: function() {
            return "/questions/" + this.questionId + "/answers";
        }
        }
    }
</script>
