<template>
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="d-flex align-item-center">
                    <h3>{{ title }}</h3>
                    <div class="ml-auto">
                        <a href="/questions" class="btn btn-outline-secondary" >Show all questions</a>
                    </div>
                </div>
            </div>
            <form v-if="editting" @submit.prevent="questionupdate" class="card-body">
                <div class="card-title">
                    <input type="text" class="form-control form-control-lg" v-model="title" name="" id="">
                </div>
                <hr />
                <div class="media">
                    <vote :model="model" name="question"></vote>
                    <div class="media-body">
                        <div class="form-group">
                            <m-editor :body="body">
                                <CKEditor required :editor="editor"  placeholder="Explaine" rows="10" v-model="body" class="form-control" :config="editorConfig"></CKEditor>
                            </m-editor>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <button type="submit" :disabled="isInvalid"  class="btn btn-outline-primary">Edit</button>
                                <button type="button" @click="questioncancel"  class="btn btn-outline-secondary">Cancel</button>
                            </div>
                            <div class="col-4">
                                <user-info :model="model" label="Asked "></user-info>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div v-else class="card-body">
                <div class="card-title">
                    <div class="d-flex">
                        <h3>{{ title }}</h3>
                    </div>
                </div>
                <hr />
                <div class="media">
                    <vote :model="model" name="question"></vote>
                    <div class="media-body">
                        <div v-html="bodyHtml" class="text-justify">
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <div class="ml-auto"><!-- href="{{ route('questions.edit',[$question->id]) }}" -->
                                <a v-if="authorize('modify',model)" @click="questionedit"  data-loading-text=”Deleting…”  class="btn btn-sm btn-outline-info" >Edit</a>
                                <button v-if="authorize('deletequestionpolicy',model)" @click="questiondelete" data-loading-text=”Deleting…”  class="btn btn-sm btn-outline-danger" >Delete</button>
                            </div>
                            </div>
                            <div class="col-4"></div>
                            <div class="col-4">
                                <user-info :model="model" label="Asked "></user-info>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import MEditor from './MEditor'
import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
import CKEditor from '@ckeditor/ckeditor5-vue';
ClassicEditor
            .create( document.querySelector( '#editor' ) )
            .catch( error => {
                console.error( error );
            } );
import vote from './Vote';
    export default {
        props: ['model'],
        data () {
            return {
                editorConfig: {
                    toolbar: [ 'heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList', 'blockQuote' ],
                    heading: {
                    options: [
                        { model: 'paragraph', title: 'Paragraph', class: 'ck-heading_paragraph' },
                        { model: 'heading1', view: 'h1', title: 'Heading 1', class: 'ck-heading_heading1' },
                        { model: 'heading2', view: 'h2', title: 'Heading 2', class: 'ck-heading_heading2' },
                        { model: 'heading3', view: 'h3', title: 'Heading 3', class: 'ck-heading_heading3' },
                        { model: 'heading4', view: 'h4', title: 'Heading 4', class: 'ck-heading_heading4' },
                        { model: 'heading5', view: 'h5', title: 'Heading 5', class: 'ck-heading_heading5' }
                    ]    }
                    },
                editor: ClassicEditor,
                title: this.model.title,
                body: this.model.body,
                bodyHtml: this.model.body_html,
                editting: false,
                id: this.model.id,
                beforeEditCache: {},
            }
        },
        components: {
            MEditor, vote , CKEditor: CKEditor.component
        },
        computed: {
            isInvalid: function() {
                return this.body.lenght < 10 || this.title.lenght < 8 || this.title.lenght > 255;
            },
            endPoint: function () {
                return '/questions/'+this.id;
            }
        },
        methods:  {
            questiondelete: function () {
                this.$toast.question('Are you sure about that?','Confirm deleting',{
                    timeout: 20000,
                    close: true,
                    overlay: true,
                    displayMode: 'once',
                    id: 'question',
                    zindex: 999,
                    position: 'center',
                    buttons: [
                    ['<button><b>YES</b></button>', (instance, toast) => {
                        axios.delete(this.endPoint)
                            .then((result) => {
                                    console.log(result);
                                    $(this.$el).fadeOut(500,() => {
                                    this.$toast.success(result.data.message ,'Success ! ', {
                                        timeout: 20000,
                                        position: 'center',
                                    } );
                                    });
                                    setTimeout(() => {
                                        window.location.href ='/questions';
                                    }, 3000);
                                    this.editting = false;
                                })
                            .catch((err) => {
                            console.log(err);
                            console.log(err.response);
                            console.log(err.response.data);
                            console.log(err.response.data.message);
                            this.$toast.error(err.response.data.message ,'Error ! ', {
                                        timeout: 20000,
                                        position: 'center',
                                    } );
                        });
                        instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                    }, true],
                    ['<button>NO</button>', function (instance, toast) {
                instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');

                        }],
                    ],
                });
            },
            questionedit: function () {
                this.toast.question('You want to edit this question ?','Confirm!',{
                    timeout: 20000,
                    close: false,
                    overlay: true,
                    displayMode: 'once',
                    id: 'question',
                    zindex: 999,
                    position: 'center',
                    buttons: [
                        ['<button class="btn btn-outline-danger"><b>YES</b></button>', (instance, toast) => {
                            this.editting = true;
                            this.beforeEditCache = { body: this.body,
                            title: this.title };
                            instance.hide({ transitionOut: 'fadeOut'} , toast, 'button');
                        }, true],
                        ['<button class="btn btn-outline-danger">NO</button>', (instance, toast) => {
                            this.editting = false;
                            instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                        }],
                    ],
                });
            },
            questioncancel: function () {
                this.body = this.beforeEditCache.body;
                this.title = this.beforeEditCache.title;
                this.editting = false;
                this.$toast.info('Nothing changed' ,'Info ! ', {
                                        timeout: 20000,
                                            position: 'center',
                                } );
            },
            questionupdate: function() {
                this.toast.question('You are trying to modify your question','Confirm your change?',{
                    timeout: 20000,
                    progressBar: true,
                    close: true,
                    overlay: true,
                    displayMode: 'once',
                    id: 'question',
                    zindex: 999,
                    position: 'center',
                    buttons: [
                        ['<button><b>Save the change</b></button>', (instance, toast)=> {
                            axios.put(this.endPoint,{
                                body: this.body,
                                title: this.title
                            })
                            .then((result) => {
                                console.log(result);
                                this.editting = false;
                                this.bodyHtml = result.data.body_html;
                                this.$toast.success(result.data.message ,'Success ! ', {
                                        timeout: 20000,
                                            position: 'center',
                                } );
                            }).catch((err) => {
                                console.log(err);
                                console.log(err.response);
                                console.log(err.response.data);
                                console.log(err.response.data.message);
                                this.$toast.error(err.response.data.message,'error ! ', {
                                        timeout: 20000,
                                            position: 'center',
                                });
                                this.editting = false;
                            });
                            instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                        }, true],
                        ['<button>Cancel without saving</button>', (instance, toast) => {
                            this.editting = false;
                            this.$toast.info('Nothing changed' ,'Info ! ', {
                                        timeout: 20000,
                                            position: 'center',
                                } );
                            instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');

                        }],
                    ],
                    onClosing: function(instance, toast, closedBy){
                        console.info('Closing | closedBy: ' + closedBy);
                    },
                    onClosed: function(instance, toast, closedBy){
                        console.info('Closed | closedBy: ' + closedBy);
                    }
                });
            }
        },
    }
</script>
