<template>
    <div>
        <span class="text-mutee mt-2">{{ postDate }}</span>
        <div class="media mt-2 ml-2 mb-2">
            <a class="pr-2" :href=" user.url ">
                <img :width=" user.avatarsize " :height=" user.avatarsize " :src="user.avatar " class="img-fluid" alt="Responsive image">
            </a>
            <div class="media-body">
                    <a :href=" user.url ">{{ user.name }}</a>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props:['model','label'],

        computed: {
            postDate() {
                return this.label + ' ' + this.model.created_date;
            }
        },

        data () {
            return {
                user: this.model.user
            }
        }
    }
</script>
