<template>
    <div class="d-flex flex-column vote-controls">
        <a @click.prevent="voteUp" :title="title('up')" :class="classes">
            <i class="fas fa-caret-up fa-3x"></i>
        </a>
        <span class="rounded-circle votes-count">{{ count }}</span>
        <a @click.prevent="voteDown" :title="title('down')" :class="classes">
            <i class="fas fa-caret-down fa-3x"></i>
        </a>
            <favorite v-if="name=='question'" :model="model"></favorite>
            <accept v-if="name=='answer'" :model="model"></accept>
    </div>
</template>
<script>
import favorite from './Favorite';
import accept from './Accept';
export default {
    props: ['name','model'],
    computed: {
        classes: function() {
            return [
                'mt-2',
                ! this.signedIn ? 'off' : '',
            ];
        },
        endPoint: function () {
            return '/'+this.name+'s/'+this.id+'/vote';
        }
    },
    methods: {
        title (voteType) {
            let titles = {
                up: 'This '+this.name+' is useful' ,
                down: 'This '+this.name+' is not useful'
            };
            return titles[voteType];
        },
        voteUp () {
            return this._vote(1);
        },
        voteDown () {
            return this._vote(-1);
        },
        _vote (vote) {
            if(! this.signedIn )
            {
                this.$toast.warning('Login to vote the '+this.name ,'Info!', {
                        timeout: 2000,
                        position: 'center',
                });
                return;
            }
            axios.post(this.endPoint,{vote})
                    .then((result) => {
                            console.log(result);
                            this.$toast.info('Voted '+vote ,'Info!', {
                                    timeout: 2000,
                                    position: 'center',
                            } );
                            this.count = result.data.votesCount;
                        })
                    .catch((err) => {
                    console.log(err);
                    console.log(err.response);
                    console.log(err.response.data);
                    console.log(err.response.data.message);
                    this.toast.error(err.response.data.message,'Internal Error !');
                });


        }
    },
    data: function() {
    return {
        count: this.model.votes_count || 0,
        id: this.model.id,
        }
    },
    components: {
        favorite,accept
    },
}
</script>
